<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme230_d_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,482},{155,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,158}}</string>
                <key>sourceSize</key>
                <string>{155,158}</string>
            </dict>
            <key>theme230_d_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,184},{296,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,106}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>theme230_d_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{296,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,106}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>theme230_d_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{296,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,106}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>theme230_d_btn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{296,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,106}}</string>
                <key>sourceSize</key>
                <string>{296,106}</string>
            </dict>
            <key>theme230_d_map_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,312},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
            <key>theme230_d_map_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{439,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,43}}</string>
                <key>sourceSize</key>
                <string>{439,43}</string>
            </dict>
            <key>theme230_d_map_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,43}}</string>
                <key>sourceSize</key>
                <string>{465,43}</string>
            </dict>
            <key>theme230_d_map_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{453,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,43}}</string>
                <key>sourceSize</key>
                <string>{453,43}</string>
            </dict>
            <key>theme230_d_map_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{442,45}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{442,45}}</string>
                <key>sourceSize</key>
                <string>{474,45}</string>
            </dict>
            <key>theme230_dialog_num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,508},{197,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,127}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>theme230_dialog_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{118,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,131}}</string>
                <key>sourceSize</key>
                <string>{118,131}</string>
            </dict>
            <key>theme230_dialog_wild_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,184},{126,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,90}}</string>
                <key>sourceSize</key>
                <string>{126,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{505,641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa4fb48f389f90250ba2aeea57fef3f:1/1$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
