<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREEGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{81,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,16}}</string>
                <key>sourceSize</key>
                <string>{81,16}</string>
            </dict>
            <key>HOLDFORAUTO.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,18}}</string>
                <key>sourceSize</key>
                <string>{126,18}</string>
            </dict>
            <key>HOLDFORAUTO02.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{126,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,18}}</string>
                <key>sourceSize</key>
                <string>{126,18}</string>
            </dict>
            <key>HOLDFORAUTO_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{126,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,18}}</string>
                <key>sourceSize</key>
                <string>{126,18}</string>
            </dict>
            <key>SPIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>SPIN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>SPIN_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>STOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>STOP02.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>STOP03.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>anxia_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,46},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,46},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,46},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,92},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,46},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>big_back_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,303},{400,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,223}}</string>
                <key>sourceSize</key>
                <string>{400,223}</string>
            </dict>
            <key>dating_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,303},{720,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,218}}</string>
                <key>sourceSize</key>
                <string>{720,218}</string>
            </dict>
            <key>freegame_backyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,92},{112,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,63}}</string>
                <key>sourceSize</key>
                <string>{112,63}</string>
            </dict>
            <key>freegamespin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,303},{190,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,269}}</string>
                <key>sourceSize</key>
                <string>{190,269}</string>
            </dict>
            <key>header_bg_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,177},{720,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,124}}</string>
                <key>sourceSize</key>
                <string>{720,124}</string>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,177},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,177},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,177},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,177},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,177},{131,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,115}}</string>
                <key>sourceSize</key>
                <string>{131,115}</string>
            </dict>
            <key>icon_ads.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,92},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>icon_freecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,92},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>icon_rewards.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,92},{82,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,60}}</string>
                <key>sourceSize</key>
                <string>{82,60}</string>
            </dict>
            <key>kong13345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,46},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>maxbet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>maxbet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,92},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>maxbet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,177},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>minus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,46},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>minus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>minus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,46},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>plus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,46},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>plus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,46},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>plus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,46},{108,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,43}}</string>
                <key>sourceSize</key>
                <string>{108,43}</string>
            </dict>
            <key>spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,92},{224,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,80}}</string>
                <key>sourceSize</key>
                <string>{224,80}</string>
            </dict>
            <key>spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,92},{224,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,80}}</string>
                <key>sourceSize</key>
                <string>{224,80}</string>
            </dict>
            <key>spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,92},{224,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,80}}</string>
                <key>sourceSize</key>
                <string>{224,80}</string>
            </dict>
            <key>totalbetzit.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{83,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,16}}</string>
                <key>sourceSize</key>
                <string>{83,16}</string>
            </dict>
            <key>totalwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,16}}</string>
                <key>sourceSize</key>
                <string>{86,16}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{239,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,171}}</string>
                <key>sourceSize</key>
                <string>{239,171}</string>
            </dict>
            <key>wnzi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{219,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,42}}</string>
                <key>sourceSize</key>
                <string>{219,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>footer.png</string>
            <key>size</key>
            <string>{1572,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d96efc4e397d816834ff573beb07fe8$</string>
            <key>textureFileName</key>
            <string>footer.png</string>
        </dict>
    </dict>
</plist>
