<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{380,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,118}}</string>
                <key>sourceSize</key>
                <string>{380,118}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{110,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,99}}</string>
                <key>sourceSize</key>
                <string>{110,99}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{394,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,69}}</string>
                <key>sourceSize</key>
                <string>{394,69}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{832,765}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,765}}</string>
                <key>sourceSize</key>
                <string>{832,765}</string>
            </dict>
            <key>text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{384,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,78}}</string>
                <key>sourceSize</key>
                <string>{384,78}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,122},{491,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,31}}</string>
                <key>sourceSize</key>
                <string>{491,31}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{608,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,37}}</string>
                <key>sourceSize</key>
                <string>{608,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad_reward.png</string>
            <key>size</key>
            <string>{959,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52571421ad76a8f9b62ba66fc0b799a2$</string>
            <key>textureFileName</key>
            <string>ad_reward.png</string>
        </dict>
    </dict>
</plist>
