<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>font_Fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{556,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,201}}</string>
                <key>sourceSize</key>
                <string>{556,201}</string>
            </dict>
            <key>font_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{558,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,240}}</string>
                <key>sourceSize</key>
                <string>{558,240}</string>
            </dict>
            <key>ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,205},{380,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,118}}</string>
                <key>sourceSize</key>
                <string>{380,118}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{716,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,557}}</string>
                <key>sourceSize</key>
                <string>{716,557}</string>
            </dict>
            <key>tips_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,447},{77,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,33}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inspect.png</string>
            <key>size</key>
            <string>{944,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671ac22a43a7518cd2cc0124b9006d22$</string>
            <key>textureFileName</key>
            <string>inspect.png</string>
        </dict>
    </dict>
</plist>
