<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{310,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,148}}</string>
                <key>sourceSize</key>
                <string>{310,148}</string>
            </dict>
            <key>lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>rukou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1159},{692,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,409}}</string>
                <key>sourceSize</key>
                <string>{692,409}</string>
            </dict>
            <key>rukou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,175},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,831},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,831},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,503},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,503},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>rukou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,175},{330,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,326}}</string>
                <key>sourceSize</key>
                <string>{330,326}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{239,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,171}}</string>
                <key>sourceSize</key>
                <string>{239,171}</string>
            </dict>
            <key>unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{239,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,171}}</string>
                <key>sourceSize</key>
                <string>{239,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{998,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20ed9b30576546d80d9f4fa4418fe0e8$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
