<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme230_map_b1_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{372,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,82}}</string>
                <key>sourceSize</key>
                <string>{372,82}</string>
            </dict>
            <key>theme230_map_b2_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{372,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,82}}</string>
                <key>sourceSize</key>
                <string>{372,82}</string>
            </dict>
            <key>theme230_map_b3_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{372,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,82}}</string>
                <key>sourceSize</key>
                <string>{372,82}</string>
            </dict>
            <key>theme230_map_b4_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{372,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,82}}</string>
                <key>sourceSize</key>
                <string>{372,82}</string>
            </dict>
            <key>theme230_map_b5_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{372,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,82}}</string>
                <key>sourceSize</key>
                <string>{372,82}</string>
            </dict>
            <key>theme230_map_b6_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{372,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,82}}</string>
                <key>sourceSize</key>
                <string>{372,82}</string>
            </dict>
            <key>theme230_map_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{385,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,103}}</string>
                <key>sourceSize</key>
                <string>{385,103}</string>
            </dict>
            <key>theme230_map_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,103}}</string>
                <key>sourceSize</key>
                <string>{385,103}</string>
            </dict>
            <key>theme230_map_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,376},{71,60}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{71,60}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>theme230_map_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,376},{71,60}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{71,60}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{611,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03cfb03a3a83c212948c76b29ae3ff2:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
