<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme230_wheel_grand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{210,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,398}}</string>
                <key>sourceSize</key>
                <string>{210,398}</string>
            </dict>
            <key>theme230_wheel_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{783,781}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{783,781}}</string>
                <key>sourceSize</key>
                <string>{783,781}</string>
            </dict>
            <key>theme230_wheel_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,2},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>theme230_wheel_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,440},{242,238}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{242,238}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>theme230_wheel_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,680},{177,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,68}}</string>
                <key>sourceSize</key>
                <string>{177,68}</string>
            </dict>
            <key>theme230_wheel_spin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,344},{217,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,219}}</string>
                <key>sourceSize</key>
                <string>{217,219}</string>
            </dict>
            <key>theme230_wheel_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,402},{189,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,354}}</string>
                <key>sourceSize</key>
                <string>{189,354}</string>
            </dict>
            <key>theme230_wheel_wild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,563},{189,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,354}}</string>
                <key>sourceSize</key>
                <string>{189,354}</string>
            </dict>
            <key>theme230_wheel_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{282,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,436}}</string>
                <key>sourceSize</key>
                <string>{282,436}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel.png</string>
            <key>size</key>
            <string>{1625,785}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb51e2b4bb73339aa20107d57796dae:1/1$</string>
            <key>textureFileName</key>
            <string>wheel.png</string>
        </dict>
    </dict>
</plist>
