<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{295,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,73}}</string>
                <key>sourceSize</key>
                <string>{295,73}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1702},{295,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,72}}</string>
                <key>sourceSize</key>
                <string>{295,72}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1758},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1685},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>theme230_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{516,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,760}}</string>
                <key>sourceSize</key>
                <string>{516,760}</string>
            </dict>
            <key>theme230_page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{518,848}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,848}}</string>
                <key>sourceSize</key>
                <string>{518,848}</string>
            </dict>
            <key>theme230_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,520},{508,739}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,739}}</string>
                <key>sourceSize</key>
                <string>{508,739}</string>
            </dict>
            <key>theme230_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{517,828}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,828}}</string>
                <key>sourceSize</key>
                <string>{517,828}</string>
            </dict>
            <key>theme230_page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1030},{500,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,722}}</string>
                <key>sourceSize</key>
                <string>{500,722}</string>
            </dict>
            <key>theme230_page6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{535,848}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,848}}</string>
                <key>sourceSize</key>
                <string>{535,848}</string>
            </dict>
            <key>theme230_page7.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,852},{523,831}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,831}}</string>
                <key>sourceSize</key>
                <string>{523,831}</string>
            </dict>
            <key>theme230_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1532},{294,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,468}}</string>
                <key>sourceSize</key>
                <string>{294,468}</string>
            </dict>
            <key>theme230_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1532},{293,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,53}}</string>
                <key>sourceSize</key>
                <string>{293,53}</string>
            </dict>
            <key>theme230_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1685},{136,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,53}}</string>
                <key>sourceSize</key>
                <string>{136,53}</string>
            </dict>
            <key>theme230_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,579},{463,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,53}}</string>
                <key>sourceSize</key>
                <string>{463,53}</string>
            </dict>
            <key>theme230_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1777},{601,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,53}}</string>
                <key>sourceSize</key>
                <string>{601,53}</string>
            </dict>
            <key>theme230_paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1044},{700,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,45}}</string>
                <key>sourceSize</key>
                <string>{700,45}</string>
            </dict>
            <key>theme230_paytable_head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{575,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,53}}</string>
                <key>sourceSize</key>
                <string>{575,53}</string>
            </dict>
            <key>theme230_paytable_head7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1044},{225,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,53}}</string>
                <key>sourceSize</key>
                <string>{225,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{1897,1833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:759a393bb48ce5ccc58cccd44e0a5e37:1/1$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
